<h1>rc_co2_project_data_consistency<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#01-Import-libraries" data-toc-modified-id="01-Import-libraries-1">01 Import libraries</a></span></li><li><span><a href="#02-Create-path" data-toc-modified-id="02-Create-path-2">02 Create path</a></span></li><li><span><a href="#03-Import-data" data-toc-modified-id="03-Import-data-3">03 Import data</a></span></li><li><span><a href="#04-Shape-and-Size-of-data" data-toc-modified-id="04-Shape-and-Size-of-data-4">04 Shape and Size of data</a></span></li><li><span><a href="#05-Check-for-mixed-data-type" data-toc-modified-id="05-Check-for-mixed-data-type-5">05 Check for mixed data type</a></span></li><li><span><a href="#06-Check-for-missing-values" data-toc-modified-id="06-Check-for-missing-values-6">06 Check for missing values</a></span></li><li><span><a href="#07-Check-each-dataframe-for-duplicates" data-toc-modified-id="07-Check-each-dataframe-for-duplicates-7">07 Check each dataframe for duplicates</a></span></li><li><span><a href="#08-Merge-df_life-with-df_carbon" data-toc-modified-id="08-Merge-df_life-with-df_carbon-8">08 Merge df_life with df_carbon</a></span></li><li><span><a href="#09-Export-cleaned-data-as-pickle" data-toc-modified-id="09-Export-cleaned-data-as-pickle-9">09 Export cleaned data as pickle</a></span></li><li><span><a href="#10-check-for-missing-values-in-megered-data" data-toc-modified-id="10-check-for-missing-values-in-megered-data-10">10 check for missing values in megered data</a></span></li><li><span><a href="#11-Check-for-duplicates-in-df_full_clean" data-toc-modified-id="11-Check-for-duplicates-in-df_full_clean-11">11 Check for duplicates in df_full_clean</a></span></li></ul></div>

## 01 Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02 Create path

In [2]:
#create path to data sets

path = r'C:\Users\rober_fjs0dbr\OneDrive\Desktop\robert_cheadle_portfolio\rc_final_project\02 Data\Prepared Data'

path

'C:\\Users\\rober_fjs0dbr\\OneDrive\\Desktop\\robert_cheadle_portfolio\\rc_final_project\\02 Data\\Prepared Data'

## 03 Import data

In [3]:
# orders data set as df_carbon

df_carbon = pd.read_csv(os.path.join(path, 'carbon_wrangled.csv'), index_col = False)

df_life = pd.read_csv(os.path.join(path, 'life_wrangled.csv'), index_col = False)

## 04 Shape and Size of data

In [4]:
# shape of co2 data

df_carbon.shape

(8321, 8)

In [5]:
# shape of life expectancy data

df_life.shape

(6646, 5)

## 05 Check for mixed data type

In [6]:
# check for mixed data types in df_carbon

for col in df_carbon.columns.tolist():
  weird = (df_carbon[[col]].applymap(type) != df_carbon[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_carbon[weird]) > 0:
    print (col)

iso_code

In [7]:
# change iso_code to string

df_carbon['iso_code'] = df_carbon['iso_code'].astype('str')

In [8]:
# check for mixed data types in df_carbon

for col in df_carbon.columns.tolist():
  weird = (df_carbon[[col]].applymap(type) != df_carbon[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_carbon[weird]) > 0:
    print (col)

In [9]:
# check for mixed data types in df_life

for col in df_life.columns.tolist():
  weird2 = (df_life[[col]].applymap(type) != df_life[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_life[weird2]) > 0:
    print (col)

iso_code

In [10]:
# change iso_code to string

df_life['iso_code'] = df_life['iso_code'].astype('str')

In [11]:
# check for mixed data types in df_life

for col in df_life.columns.tolist():
  weird2 = (df_life[[col]].applymap(type) != df_life[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_life[weird2]) > 0:
    print (col)

## 06 Check for missing values

In [12]:
# check for missing values in df_carbon

df_carbon.isnull().sum()

Unnamed: 0       0
country          0
year             0
iso_code         0
population     653
gdp           3532
co2            402
trade_co2     4062
dtype: int64

In [13]:
# check for missing values in df_life

df_life.isnull().sum()

Unnamed: 0         0
country            0
iso_code           0
year               0
life_expectancy    0
dtype: int64

In [14]:
# drop column trade_co2 too many missing values

df_carbon = df_carbon.drop(['trade_co2'], axis=1)

In [15]:
# check for missing values in df_carbon

df_carbon.isnull().sum()

Unnamed: 0       0
country          0
year             0
iso_code         0
population     653
gdp           3532
co2            402
dtype: int64

In [16]:
# check for population NaN by country in df_carbon

Unique_Country = df_carbon['country'].unique()
Col1 = 'population'

NullCount = []
for i in Unique_Country:
    s = df_carbon[df_carbon['country']==i][Col1].isnull().sum()
    NullCount.append(s)

df_carbon_country_nan = pd.DataFrame({'country': Unique_Country,
              'Number of NaN Values': NullCount})
df_carbon_country_nan = df_carbon_country_nan[df_carbon_country_nan['Number of NaN Values']!=0]
df_carbon_country_nan

                          country  Number of NaN Values
2                    Africa (GCP)                    32
3                   Aland Islands                    32
10                     Antarctica                    18
16                     Asia (GCP)                    32
17   Asia (excl. China and India)                    32
46          Central America (GCP)                    32
75                   Europe (GCP)                    32
76           Europe (excl. EU-27)                    32
77           Europe (excl. EU-28)                    32
78            European Union (27)                    32
79      European Union (27) (GCP)                    32
80            European Union (28)                    32
110       International transport                    32
126       Kuwaiti Oil Fires (GCP)                     1
153             Middle East (GCP)                    32
165          Netherlands Antilles                    13
172                Non-OECD (GCP)                    32
174           North America (GCP)                    32
175     North America (excl. USA)                    32
179                    OECD (GCP)                    32
181                 Oceania (GCP)                    32
220           South America (GCP)                    32
227        Svalbard and Jan Mayen                    13

In [17]:
# check for gdp NaN by country in df_carbon

Unique_GDP = df_carbon['country'].unique()
Col1 = 'gdp'

NullCount = []
for i in Unique_GDP:
    s = df_carbon[df_carbon['country']==i][Col1].isnull().sum()
    NullCount.append(s)

df_carbon_gdp_nan = pd.DataFrame({'country': Unique_GDP,
              'Number of NaN Values': NullCount})
df_carbon_gdp_nan = df_carbon_gdp_nan[df_carbon_gdp_nan['Number of NaN Values']!=0]
df_carbon_gdp_nan

            country  Number of NaN Values
0       Afghanistan                     3
1            Africa                    32
2      Africa (GCP)                    32
3     Aland Islands                    32
4           Albania                     3
..              ...                   ...
257  Western Sahara                    32
258           World                    26
259           Yemen                     3
260          Zambia                     3
261        Zimbabwe                     3

[262 rows x 2 columns]

NaN values will be left for now

## 07 Check each dataframe for duplicates

In [18]:
# check for duplicates in df_carbon

df_carbon_dups = df_carbon[df_carbon.duplicated()]

df_carbon_dups

Empty DataFrame
Columns: [Unnamed: 0, country, year, iso_code, population, gdp, co2]
Index: []

No duplicates in df_carbon

In [19]:
# check for duplicates in df_carbon

df_life_dups = df_life[df_life.duplicated()]

df_life_dups

Empty DataFrame
Columns: [Unnamed: 0, country, iso_code, year, life_expectancy]
Index: []

No duplicates in df_carbon

## 08 Merge df_life with df_carbon

In [20]:
# merge df_life_with df_carbon

df_full = df_carbon.merge(df_life, on = ['country', 'year'], how = 'inner', indicator = True)

In [21]:
df_full.head()

,Unnamed: 0_x,country,year,iso_code_x,population,gdp,co2,Unnamed: 0_y,iso_code_y,life_expectancy,_merge
0,140,Afghanistan,1990,AFG,10694804.0,1.306598e+10,2.024,30,AFG,50.331001,both
1,141,Afghanistan,1991,AFG,10745168.0,1.204736e+10,1.914,31,AFG,50.999001,both
2,142,Afghanistan,1992,AFG,12057436.0,1.267754e+10,1.482,32,AFG,51.640999,both
3,143,Afghanistan,1993,AFG,14003764.0,9.834581e+09,1.487,33,AFG,52.256001,both
4,144,Afghanistan,1994,AFG,15455560.0,7.919857e+09,1.454,34,AFG,52.841999,both

In [22]:
df_full['_merge'].value_counts()

both          6162
left_only        0
right_only       0
Name: _merge, dtype: int64

In [23]:
# drop Unnamed: 0_x, Unnamed: 0_y, iso_code_y, and _merge

In [24]:
df_full = df_full.drop(['Unnamed: 0_x', 'Unnamed: 0_y', 'iso_code_y', '_merge'], axis=1)

df_full.head()

,country,year,iso_code_x,population,gdp,co2,life_expectancy
0,Afghanistan,1990,AFG,10694804.0,1.306598e+10,2.024,50.331001
1,Afghanistan,1991,AFG,10745168.0,1.204736e+10,1.914,50.999001
2,Afghanistan,1992,AFG,12057436.0,1.267754e+10,1.482,51.640999
3,Afghanistan,1993,AFG,14003764.0,9.834581e+09,1.487,52.256001
4,Afghanistan,1994,AFG,15455560.0,7.919857e+09,1.454,52.841999

In [25]:
df_full =  df_full.drop(columns = ['iso_code_x'])

df_full.head()

       country  year  population           gdp    co2  life_expectancy
0  Afghanistan  1990  10694804.0  1.306598e+10  2.024        50.331001
1  Afghanistan  1991  10745168.0  1.204736e+10  1.914        50.999001
2  Afghanistan  1992  12057436.0  1.267754e+10  1.482        51.640999
3  Afghanistan  1993  14003764.0  9.834581e+09  1.487        52.256001
4  Afghanistan  1994  15455560.0  7.919857e+09  1.454        52.841999

In [32]:
# count rows with NaN

df_full_clean = df_full.dropna()

df_full_clean.shape

(4697, 6)

In [30]:
# check for NaN in df_full_clean

df_full_clean.shape

(1465, 6)

## 09 Export cleaned data as pickle

In [33]:


# Export data to csv

df_full_clean.to_csv(os.path.join(path, 'carbon_life_full.csv'))

## 10 check for missing values in megered data

In [34]:
# check for missing values in df_full

df_full_clean.isnull().sum()

country            0
year               0
population         0
gdp                0
co2                0
life_expectancy    0
dtype: int64

In [35]:
df_full.isnull().sum()

country               0
year                  0
population            0
gdp                1436
co2                 111
life_expectancy       0
dtype: int64

## 11 Check for duplicates in df_full_clean

In [36]:
# check for duplicates in df_full_clean

df_full_clean_dups = df_full_clean[df_full_clean.duplicated()]

df_full_clean_dups

Empty DataFrame
Columns: [country, year, population, gdp, co2, life_expectancy]
Index: []

In [37]:
df_carbon.shape

(8321, 7)

In [38]:
df_life.shape

(6646, 5)

In [39]:
df_full.shape

(6162, 6)

In [40]:
df_full_clean.shape

(4697, 6)