<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#co2-emissions-and-life-expectancy-data-set-wrangling" data-toc-modified-id="co2-emissions-and-life-expectancy-data-set-wrangling-1">co2 emissions and life expectancy data set wrangling</a></span><ul class="toc-item"><li><span><a href="#01-Import-libraries" data-toc-modified-id="01-Import-libraries-1.1">01 Import libraries</a></span></li><li><span><a href="#02-Create-path" data-toc-modified-id="02-Create-path-1.2">02 Create path</a></span></li><li><span><a href="#03-Import-data" data-toc-modified-id="03-Import-data-1.3">03 Import data</a></span></li><li><span><a href="#04-Shape-and-Size-of-data" data-toc-modified-id="04-Shape-and-Size-of-data-1.4">04 Shape and Size of data</a></span></li><li><span><a href="#05-List-variables-from-each-data-set" data-toc-modified-id="05-List-variables-from-each-data-set-1.5">05 List variables from each data set</a></span></li><li><span><a href="#06-Create-new-dataframe-of-carbon-data-with-only-columns-necessary-for-analysis" data-toc-modified-id="06-Create-new-dataframe-of-carbon-data-with-only-columns-necessary-for-analysis-1.6">06 Create new dataframe of carbon data with only columns necessary for analysis</a></span></li><li><span><a href="#07-format-df_life-dataframe-to-match-df_carbon-new" data-toc-modified-id="07-format-df_life-dataframe-to-match-df_carbon-new-1.7">07 format df_life dataframe to match df_carbon new</a></span></li><li><span><a href="#08-create-dataframe-that-contain-data-from-1990-to-present" data-toc-modified-id="08-create-dataframe-that-contain-data-from-1990-to-present-1.8">08 create dataframe that contain data from 1990 to present</a></span></li><li><span><a href="#09-Check-and-Change-data-types-if-necessary" data-toc-modified-id="09-Check-and-Change-data-types-if-necessary-1.9">09 Check and Change data types if necessary</a></span></li><li><span><a href="#10-Export-df's-as-csv" data-toc-modified-id="10-Export-df's-as-csv-1.10">10 Export df's as csv</a></span></li></ul></li></ul></div>

# co2 emissions and life expectancy data set wrangling

## 01 Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02 Create path

In [2]:
#create path to data sets

path = r'C:\Users\rober_fjs0dbr\OneDrive\Desktop\robert_cheadle_portfolio\rc_final_project\02 Data\Raw Data'

path

'C:\\Users\\rober_fjs0dbr\\OneDrive\\Desktop\\robert_cheadle_portfolio\\rc_final_project\\02 Data\\Raw Data'

## 03 Import data

In [3]:
# orders data set as df_carbon

df_carbon = pd.read_csv(os.path.join(path, 'co2_data.csv'), index_col = False)

df_life = pd.read_csv(os.path.join(path, 'life_expectancy.csv'), index_col = False)

## 04 Shape and Size of data

In [4]:
# shape of co2 data

df_carbon.shape

(46523, 74)

In [5]:
# shape of life expectancy data

df_life.shape

(12845, 4)

## 05 List variables from each data set

In [6]:
# iterating the columns in df_carbon

for col in df_carbon.columns:
    print(col)

country
year
iso_code
population
gdp
cement_co2
cement_co2_per_capita
co2
co2_growth_abs
co2_growth_prct
co2_including_luc
co2_including_luc_growth_abs
co2_including_luc_growth_prct
co2_including_luc_per_capita
co2_including_luc_per_gdp
co2_including_luc_per_unit_energy
co2_per_capita
co2_per_gdp
co2_per_unit_energy
coal_co2
coal_co2_per_capita
consumption_co2
consumption_co2_per_capita
consumption_co2_per_gdp
cumulative_cement_co2
cumulative_co2
cumulative_co2_including_luc
cumulative_coal_co2
cumulative_flaring_co2
cumulative_gas_co2
cumulative_luc_co2
cumulative_oil_co2
cumulative_other_co2
energy_per_capita
energy_per_gdp
flaring_co2
flaring_co2_per_capita
gas_co2
gas_co2_per_capita
ghg_excluding_lucf_per_capita
ghg_per_capita
land_use_change_co2
land_use_change_co2_per_capita
methane
methane_per_capita
nitrous_oxide
nitrous_oxide_per_capita
oil_co2
oil_co2_per_capita
other_co2_per_capita
other_industry_co2
primary_energy_consumption
share_global_cement_co2
share_global_co2
share_global_co2_including_luc
share_global_coal_co2
share_global_cumulative_cement_co2
share_global_cumulative_co2
share_global_cumulative_co2_including_luc
share_global_cumulative_coal_co2
share_global_cumulative_flaring_co2
share_global_cumulative_gas_co2
share_global_cumulative_luc_co2
share_global_cumulative_oil_co2
share_global_cumulative_other_co2
share_global_flaring_co2
share_global_gas_co2
share_global_luc_co2
share_global_oil_co2
share_global_other_co2
total_ghg
total_ghg_excluding_lucf
trade_co2
trade_co2_share

In [7]:
# iterating the columns in df_carbon

for col in df_life.columns:
    print(col)

Entity
Code
Year
Life expectancy at birth, total (years)

## 06 Create new dataframe of carbon data with only columns necessary for analysis

In [8]:
# Create new DataFrame

df_carbon_new = df_carbon[['country','year', 'iso_code', 'population', 'gdp', 'co2', 'trade_co2']]

df_carbon_new.head()

       country  year iso_code  population  gdp  co2  trade_co2
0  Afghanistan  1850      AFG   3752993.0  NaN  NaN        NaN
1  Afghanistan  1851      AFG   3769828.0  NaN  NaN        NaN
2  Afghanistan  1852      AFG   3787706.0  NaN  NaN        NaN
3  Afghanistan  1853      AFG   3806634.0  NaN  NaN        NaN
4  Afghanistan  1854      AFG   3825655.0  NaN  NaN        NaN

## 07 format df_life dataframe to match df_carbon new

In [9]:
# rename Entity, Code, Year, and Life expectancy at birth, total (years) to country, year, iso_code, and life_expectancy


df_life = df_life.rename(columns = {'Entity' : 'country'}, inplace = False)
df_life = df_life.rename(columns = {'Code' : 'iso_code'}, inplace = False)
df_life = df_life.rename(columns = {'Year' : 'year'}, inplace = False)
df_life = df_life.rename(columns = {'Life expectancy at birth, total (years)' : 'life_expectancy'}, inplace = False)

df_life.head()

       country iso_code  year  life_expectancy
0  Afghanistan      AFG  1960        32.445999
1  Afghanistan      AFG  1961        32.962002
2  Afghanistan      AFG  1962        33.471001
3  Afghanistan      AFG  1963        33.971001
4  Afghanistan      AFG  1964        34.463001

## 08 create dataframe that contain data from 1990 to present

In [10]:
# only show data from after 1989 in df_life

df_life = df_life.loc[df_life['year'] > 1989]

df_life

           country iso_code  year  life_expectancy
30     Afghanistan      AFG  1990        50.331001
31     Afghanistan      AFG  1991        50.999001
32     Afghanistan      AFG  1992        51.640999
33     Afghanistan      AFG  1993        52.256001
34     Afghanistan      AFG  1994        52.841999
...            ...      ...   ...              ...
12840     Zimbabwe      ZWE  2016        60.293999
12841     Zimbabwe      ZWE  2017        60.812000
12842     Zimbabwe      ZWE  2018        61.195000
12843     Zimbabwe      ZWE  2019        61.490002
12844     Zimbabwe      ZWE  2020        61.737999

[6646 rows x 4 columns]

In [11]:
# only show data from after 1989 in df_carbon_new

df_carbon_new = df_carbon_new.loc[df_carbon_new['year'] > 1989]

df_carbon_new

           country  year iso_code  population           gdp     co2  trade_co2
140    Afghanistan  1990      AFG  10694804.0  1.306598e+10   2.024        NaN
141    Afghanistan  1991      AFG  10745168.0  1.204736e+10   1.914        NaN
142    Afghanistan  1992      AFG  12057436.0  1.267754e+10   1.482        NaN
143    Afghanistan  1993      AFG  14003764.0  9.834581e+09   1.487        NaN
144    Afghanistan  1994      AFG  15455560.0  7.919857e+09   1.454        NaN
...            ...   ...      ...         ...           ...     ...        ...
46518     Zimbabwe  2017      ZWE  14751101.0  2.194784e+10   9.596      0.910
46519     Zimbabwe  2018      ZWE  15052191.0  2.271535e+10  11.795      0.771
46520     Zimbabwe  2019      ZWE  15354606.0           NaN  11.115      0.978
46521     Zimbabwe  2020      ZWE  15669663.0           NaN  10.608      1.006
46522     Zimbabwe  2021      ZWE  15993525.0           NaN  11.296        NaN

[8321 rows x 7 columns]

## 09 Check and Change data types if necessary

In [13]:
# check data types for df_carbon_new

df_carbon_new.dtypes

country        object
year            int64
iso_code       object
population    float64
gdp           float64
co2           float64
trade_co2     float64
dtype: object

In [14]:
# check data types for df_life

df_life.dtypes

country             object
iso_code            object
year                 int64
life_expectancy    float64
dtype: object

## 10 Export df's as csv

In [15]:
path = r'C:\Users\rober_fjs0dbr\OneDrive\Desktop\robert_cheadle_portfolio\rc_final_project\02 Data'

In [16]:
# export df_carbon_new

df_carbon_new.to_csv(os.path.join(path, 'Prepared Data', 'carbon_wrangled.csv'))

In [17]:
# export df_life

df_life.to_csv(os.path.join(path, 'Prepared Data', 'life_wrangled.csv'))